.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  max-width: 730px;
  line-height: 96px;
  margin: 0 0 0 64px;
  font-size: 102px;
  font-weight: 600;
  color: #000000;
}

.header__subtitle {
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}


.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  z-index: -2;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

/* Description */

.description {
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  max-width: 175px;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  font-size: 24px;
  line-height: 34px;
}

.two-columns__paragraph {
  margin: 0;
  margin-bottom: 30px;
  font-weight: normal;
  color: #000000;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* Digits */

.digits {}

.section-title {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
}

.section-subtitle {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  margin: 60px 0 60px 0;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* Feynman */

.feynman {
  box-sizing: border-box;
  padding-top: 100px;
  position: relative;
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.feynman__title {
  max-width: 648px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin-bottom: 70px;
}

.feynman__subtitle {
  margin: 0 auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

/* Kaufman */

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.section-title_theme_dark {

  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {

}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0 0;
}

.kaufman__triangle {
  position: absolute;
  z-index: -1;
  top: 0;
  right: -210px;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: cover;
  width: 877px;
  height: 877px;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;
  min-height: 350px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
  color: white;
}

.footer__column_content_info {
  
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__column-links:last-of-type {
  margin-bottom: 16px;
}

.footer__column_content_social {

}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}